<a href="https://colab.research.google.com/github/MaxTheTimeMaster/ForPython/blob/main/NextStep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Немного повторения \
$ord(символ)$ - выдает номер символа в таблице ASCII \
$chr(число)$ - выдает символ по номеру в таблице ASCII \
$chr(97)$ = 'a' \
$ord('a')$ = 97 \
$ord('b')$ = 98 \
$chr(99)$ = 'c' \
$ord('$ $')$ = 32 \

In [ ]:
a = ord('c')
print(a, chr(a + 1))
print(chr(a + 2) * 8)

99 d
eeeeeeee

Как превратить строку "999" в число???? \
Функция которая переводит строку в число это\
$int(строка)$   
Выдает вам число которое лежало в строке

In [ ]:
s = '999'
s2 = '57'
s3 = "01010"
print(s + s2)
s = int(s)
s2 = int(s2)
print(s + s2)

99957
1056

Строка это просто набор символов выписанных подряд. Например 'abc abc' или '999'

In [ ]:
print(ord('a'))
print(ord('0'))

97
48

Мы хотим взять пятый символ у строчки, делается это так: \
$sym = s[5 - 1]$ (напоминаю нумерация с 0 идет, то есть у первого символа номер 0) или $sym = s[4]$.\
Теперь у нас в переменной sym лежит пятый символ.

In [ ]:
s = 'abc abc'
sym = s[4]
print(sym)

a

Как уже говорилось строки можно складывать обычной операцией +, потом ее нужно куда то положить например.

In [ ]:
s1 = "Hello"
s2 = "World"
s1 + s2 # Ничего не делает
s3 = s1 + s2 # Записывает вашу сумму в строку s3
print(s3)

HelloWorld

Можно прибавлять символы явно

In [ ]:
s1 = "Hello"
s2 = s1 + " " # "Hello "
s3 = s2 + "W" # "Hello W"
s3 = s3 + "orld" # "Hello World"
print(s3)

Hello World

Как утроить первый символ у строки?

In [ ]:
s = "Goodbye my friend"
sym = s[0]
s2 = sym + sym + s
print(s2)

GGGoodbye my friend

Как взять последний символ?
Тут нужна функция с которой мы еще не встречались, называется len() \
$len(строка)$ = Длина строки

In [ ]:
s = "MyTestString"
print(len(s))
s2 = s[len(s) - 1]

12

Тогда последний элемент имеет номер 12 по нормальной нумерации, но поскольку нумерация с 0, то его номер будет 11

In [ ]:
s = "MyTestString"
print(s[11])

g

Утроим символ как в прошлой задаче утраивали первый

In [ ]:
# Your code here
s = input()
b = len(s)
sym = s[b - 1]
s2 = s + sym + sym
print(s2)

Hello
Hellooo

**Срезы**

Строки можно резать так как вы хотите, для этого используется специальный синтаксис $s[a:b:c]$ \
Где a, b, c это числа обозначающие следующее: \
a - начиная с какого символа брать срез \
b - заканчивая каким символом брать срез \
c - шаг среза, можно опустить и не писать равен 1 по дефолту то есть идем подряд

Пример, вы хотите взять все символы кроме первых двух в строке

In [ ]:
s = "HelloAgain"
s2 = s[2:len(s):1]
print(s2)
s2 = s[2:len(s)] # Опускаем шаг
print(s2)
s2 = s[2:]
print(s2)

lloAgain
lloAgain
lloAgain

Отрубить посдение два символа строки

In [ ]:
s = "HelloAgain"
s2 = s[0:len(s) - 2:1]
print(s2)
s2 = s[0:len(s) - 2] # Опускаем шаг
print(s2)
s2 = s[0:-2]
print(s2)

HelloAga
HelloAga
HelloAga

Сделать это одновременно

In [ ]:
s = "HelloAgain"
s2 = s[len(s):0:-1]
s2 = s[1: len(s) + 1: -1]
print(s2)
s2 = s[2:len(s) - 2] # Опускаем шаг
print(s2)

lloAga

Немного о магической строчке которую мы пишем когда хотим считать много всего из строки

Функция split() которая пишется через точку для строки s, разбивает строку по пробелам на подстроки, чтобы обратиться к строке с номером i нужно написать s2[i]

In [ ]:
s = "My String Good Game Well Played 99"
s2 = s.split()
print(s2)
print(s2[0])
print(s2[1])
print(s2[len(s2) - 1], " ----->Подвох тут есть, Вопрос, а что написано здесь, это строка или число?")

#print(type(s2[len(s2)-  1]), "...")

Нам дали два слова через пробел, как получить их?

In [ ]:
s = input()
s2 = s.split()
first = s2[0]
second = s2[1]
print(first)
print(second)

abc fgf
abc
fgf

Нам дали три числа через пробел?

In [ ]:
s = input()
s2 = s.split()
first = int(s2[0])
second = int(s2[1])
third = int(s2[2])
print(first)
print(second)
print(third)

1 2 3
1
2
3

Слово и число через пробел?

In [ ]:
# Your code here

А что если хотим уметь проверять условия?? \
Например пользователь вводит нам четырехзначный код.\
Хотим проверить что это не $1234$ или $1111$ ведь они слишком простые...

На помощь приходит оператор if \
if условие которое хотите проверить а затем двоеточие \
if я хочу есть:\
$\space \space \space \space я \space иду \space есть$

In [ ]:
# Операторы сравнения
# больше >
# меньше <
# равно ==
# не равно !=
# True - правда
# False - ложь

In [ ]:
if True:
  print("Это всегда правда!!!")

if False:
  print("Не может быть, это же ложь...")

Это всегда правда!!!

In [ ]:
code = int(input())

if code == 1111: # Все что внутри ифа пишем с отступом на 4 пробела!
  print("Слишком просто")

if code == 1234: # Чтобы сравнить два числа на равенство используем оператор ==
  print("Слишком просто")

4567